@import "variables";

.logo {
  width: 100px;
  height: 60px;
  margin-top: 15px;
}

header {
  background-color: $smoke;
}

li {
  list-style-type: none;
}
// .nav-item:hover {
//   background-color: $dusk;
//   transition: 0.7s ease;
//   // height: 20px;
// }

a {
  text-decoration: none;
  list-style-type: none;
  color: $white;
}

.navbar {
  min-height: 70px;
  min-width: 120%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $smoke;
  padding: 0 24px;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-left: 40%;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  font-size: 24px;
  font-weight: 700;
}

.nav-link {
  transition: 0.3s ease;
  font-family: "Brush Script MT", cursive;
  font-weight: 400;
}

.nav-link:hover {
  color: rgb(9, 76, 97);
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    flex: start;
    padding-left: 60%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    top: 70px;
    right: -100%;
    gap: 0;
    flex-direction: column;
    background-color: $dark-smoke;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    flex: start;
    padding-left: 60%;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    top: 70px;
    right: -100%;
    gap: 0;
    flex-direction: column;
    background-color: $dark-smoke;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
  }
}
