$smoke: #010057;
$white: #ffffff;
$dark-smoke: #021c4d;
$dusk: #54a4c4;
$home-bg: #43b7c2;

// about-section
$about-head: #71c4af;
$about-para: #e6ecee;
$font: Lucida Handwriting;

//technolgy
$tech-bg: #ffffff;
$tech-head: #020c1d;

//footer
$foot-bg: #020d1f;

//projects
$project-bg: $home-bg;
$button-color: #dfe9e7;
$text-color: $tech-head;
